.App {
  text-align: center;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #afafaf; /* Track background */
  border-radius: 8px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: #737373; /* Scrollbar color */
  border-radius: 8px;
  /* border: 1px solid #cdcdcd; */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* On hover */
}
