@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", sans-serif !important;
}

html.blue .blue\:bg-transparent {
  background-color: transparent;
  color: #fff;
}

html.blue .blue\:text-white {
  color: #fff;
}

html.blue .blue\:text-gray-400 {
  color: #6f767e;
}

html.blue .blue\:text-gray-100 {
  color: #a2a2a2;
}

html.blue .blue\:text-placeholder {
  color: #adb5bd;
}

/* Hover text color for blue theme */
html.blue .blue\:hover\:text-black:hover {
  color: #000;
}

html.blue .blue\:hover\:text-white:hover {
  color: #fff;
}

/* Border */
html.blue .blue\:border-blue {
  border-color: #797e93;
}

html.blue .blue\:border-b-blue {
  border-color: #797e93;
}

html.blue .blue\:border-r-blue {
  border-color: #797e93;
}

html.blue .blue\:border-l-light-blue {
  border-color: #2b2d50;
}

html.blue .blue\:border-white {
  border-color: #fff;
}

/* Blue - Theme Colors */
html.blue .blue\:bg-light-blue {
  background-color: #2b2d50;
  color: white;
}

html.blue .blue\:bg-dark-blue {
  background-color: #191b34;
  color: white;
}

/* Mantine */
.mantine-PinInput-root .mantine-PinInput-pinInput {
  flex: 1;
  height: 72px;
  border-radius: 12px;
}

.mantine-PinInput-root .mantine-PinInput-input {
  height: 72px;
  border-radius: 12px;
  background: #efefef;
}

/* Mantine Feedback Modal */
.feedback-modal-content.mantine-Modal-content {
  min-width: 65vw;
  border-radius: 12px;
}

.mantine-Modal-header.feedback-modal-header {
  padding: 32px 24px 0;
  min-height: unset;
}

.feedback-modal-body.mantine-Modal-body {
  padding: 0 24px 32px;
}